<div class="container">
  <div class="card text-center mb-5 mt-5">
  <h5 class="card-header">Event number <%= @event.id %></h5>
    <div class="card-body">
      <h2 class="card-title mb-5">Title: <%= @event.title %></h2>
      <h3 class="card-text mb-5">Description <%= @event.description %></h3>
    </div>
  </div>  
  <p><%= link_to "Retourner à la liste des events", root_path, :class => "btn btn-primary" %></p>
</div>
